{% for field in form %}
	{% if field.field.choices %}
		<div class="form-group">
			{{field.label_tag}}
			<select class="form-control" id="id_{{field.name}}" name="{{field.name}}">
				{% for x,y in field.field.choices %}
					{% if x == field.value %}
	    				<option value="{{x}}" selected="selected">{{y}}</option>
	    			{% else %}
	    				<option value="{{x}}">{{y}}</option>
	    			{% endif %}
				{% endfor %}
			</select>
		</div>
	{% else %}
		<div class="form-group">
			{{field.label_tag}}
			<input class="form-control" id="id_{{field.name}}" name="{{field.name}}" {% if field.value != None %}value="{{field.value}}">{% endif %}
		</div>
	{% endif %}
{% endfor %}

{% for field in formEndereco %}
	{% if field.field.choices %}
		<div class="form-group">
			{{field.label_tag}}
			<select class="form-control" id="id_{{field.name}}" name="{{field.name}}">
				{% for x,y in field.field.choices %}
					{% if x == field.value %}
	    				<option value="{{x}}" selected="selected">{{y}}</option>
	    			{% else %}
	    				<option value="{{x}}">{{y}}</option>
	    			{% endif %}
				{% endfor %}
			</select>
		</div>
	{% else %}
		<div class="form-group">
			{{field.label_tag}}
			<input class="form-control" id="id_{{field.name}}" name="{{field.name}}" {% if field.value != None %}value="{{field.value}}">{% endif %}>
		</div>
	{% endif %}
{% endfor %}