{% extends 'core/base.html' %}

{% block title %} Lista de Cliente {% endblock %}

{% block container %}
<div class="container">
	<div class="row">
		<span><a href="{% url 'app_cliente_novo' %}"> Add </a></span>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Nome
						</th>
						<th>
							Telefone
						</th>
						<th>
							E-Mail
						</th>
					</tr>
				</thead>
				<tbody>
					{% for cliente in clientes %}
					<tr>
						<td>
							<a href="{% url 'app_cliente_detalhe' cliente.id %}">{{ cliente.id }}</a>
						</td>
						<td>
							{{ cliente.nome }}
						</td>
						<td>
							{{ cliente.telefone }}
						</td>
						<td>
							{{ cliente.email }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}